<mat-toolbar color="primary">

  <button mat-icon-button [matMenuTriggerFor]="main" aria-label="Advanced options" aria-label="menu context button">
    <mat-icon>menu</mat-icon>
  </button>


  <p>Gibbs Page</p>


  <span style="flex: 1 1 auto"></span>

  <mat-slide-toggle></mat-slide-toggle>

  <input id="page_selector" placeholder="Search this site" type="text" style="text-align: right"
    [(ngModel)]="data.choice" />


  <!-- <button class="small" mat-raised-button color="accent">search</button> -->

<!-- <button mat-mini-fab><mat-icon>search</mat-icon></button> -->
  <button mat-icon-button color="accent"><mat-icon>search</mat-icon></button>

</mat-toolbar>


<mat-menu #main="matMenu">

</mat-menu>
