<app-alpha></app-alpha>

<h1>{{data.title}}</h1>


<img src="{{data.image2}}" alt="{{data.description}}" [height]="data.pixelH">


<h2>value change</h2>
<input type="number" [(ngModel)]="data.value" />
<button (click)="addOne()">click</button>
<p>value is now = {{data.value}}</p>

<h2 #headline>viewchild</h2>
<input #nameRef type="text" [(ngModel)]="data.title" />

<h2>data-splitting</h2>
<!-- <input type="text" [ngModel]="data.info" (ngModelChange)="data.info=$event"/> -->
<input type="text" [ngModel]="data.info" (ngModelChange)="modelDo($event)" />
<p>{{data.info}}</p>


<h2>getters && setters</h2>
<input type="text" [(ngModel)]="infomaker" />
<input type="text" [ngModel]="morInfo">


