.header-image {
  
  background-image: url("../../../assets/project-pre/fancy-q.png");
  background-size: cover;
}

#dogz{

  background-image: url("../../../assets/project-pre/dog-pre-sml.jpg");
  background-size: cover;
}

mat-card {
  max-width:600px;
  margin: 15px 0px;
}
