
<mat-card (click)="onCardClick(1)">
    <mat-card-header>
      <div mat-card-avatar id="dogz" ></div>
      <mat-card-title>The dogs...</mat-card-title>
      <mat-card-subtitle>playing with json</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image  src="../../../assets/project-pre/dogs-a-sleepin-x-sml.jpg" alt="doggies preview">

</mat-card>

<!-- <mat-card #quotes (click)="onCardClick(quotes)"> -->
<mat-card #qu id="quotes" (click)="onCardClick(2)">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>quotes</mat-card-title>
      <mat-card-subtitle>static site</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/project-pre/quotes-preview.png" alt="quotes preview">
</mat-card>


