<ul>
  <li>bike gearing widget</li>
  <li> Put faded background around my name, and make it bigger and fancier...</li>


  <li>refresh component for projects on button click</li>
  <li>make footer project tag jump to #work</li>
  <li>anchor tag jump dynamically to #work</li>
  <li>sidebar intelligency to dynamically open/close based off of full screen/half</li>
  <li>controlling how the different component fill the screen based on open side bar, and a full/half window size</li>

  <li>serve via vercel or such</li>
</ul>
