<ul>
  <li>bike gearing widget</li>

  <li>remove autofill in search bar, add warning..</li>

  <li>refresh component for projects on button click</li>
  <li>sidebar intelligency to dynamically open/close based off of full screen/half, either boolean or a greater than value</li>
  <li>z-index of buttons</li>
  <li>header clean with menu...</li>
  <li>controlling how the different component fill the screen based on open side bar, and a full/half window size</li>

  <li>serve via vercel or such</li>
</ul>
