<h2>Quotes</h2>

<p>Here be quotes in no particular order</p>

<blockquote>"Wisdom without wealth is almost a proverb." - Calvin Coolidge </blockquote>
<blockquote>"There are no accidents in politics." - Joseph P. Kennedy </blockquote>
<blockquote>“Commerce is a game of skill, which few men can play well”- Rockerfeller </blockquote>
<blockquote>"History doesn't repeat itself but it does rhyme." - Mark Twain </blockquote>
<blockquote>"facts do not cease to exist because they are ignored." - Aldous Huxley  </blockquote>
<blockquote>"Ignorance and hoping is not a strategy. Education and action is." - chez moi </blockquote>
