mat-toolbar {
  margin-bottom: 10px;
}

button {
display: flex;
}

.header{
  flex: 1 1 auto;
}


.example-spacer {
  flex: 1 1 auto;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-card {
  margin-bottom: 10px;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section + .demo-section {
  margin-top: 16px;
}

section {
  display: table;
}

.starter-buttons .example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

/*  ID's   */

#page_selector {
  margin-right: 5px;
  text-align: right;
}
