<mat-toolbar color="primary">
  <button>
    <mat-icon color="accent" fontIcon="home"></mat-icon>
  </button>

  <span>{{ data.title }}</span>

  <span class="header"></span>

  <input id="page_selector" matInput type="text" placeholder="page number, #" #choiceGrab [(ngModel)]="choice" />
  <!-- <button color="accent" type="button" (click)="actionOne(choiceGrab.value)">GO</button> -->

  <button mat-icon-button [matMenuTriggerFor]="main" aria-label="Advanced options" aria-label="menu context button">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- top menu -->

<mat-menu #main="matMenu">
  <button mat-menu-item="" [matMenuTriggerFor]="top">1</button>
  <button mat-menu-item="" [matMenuTriggerFor]="mid">2</button>
  <button mat-menu-item="">3</button>
</mat-menu>

<!-- submenus -->

<mat-menu #top="matMenu">
  <button mat-menu-item="">A</button>
  <button mat-menu-item="">B</button>
  <button mat-menu-item="">C</button>
</mat-menu>

<mat-menu #mid="matMenu">
  <button mat-menu-item="">A</button>
  <button mat-menu-item="">B</button>
  <button mat-menu-item="">C</button>
</mat-menu>

<div [ngSwitch]="choice">
  <div *ngSwitchCase="1">
    <app-alpha></app-alpha>
  </div>

  <div *ngSwitchCase="2">
    <app-beta></app-beta>
  </div>

  <div *ngSwitchCase="3">
    <app-gamma></app-gamma>
  </div>

  <div *ngSwitchCase="4">
    <app-delta [item]="currentItem" (newItemEvent)="addItem($event)" (CIsendUp)="newCI($event)"></app-delta>
  </div>

  <div *ngSwitchCase="5">
    <app-epsilon></app-epsilon>
  </div>

  <div *ngSwitchCase="6">
    <app-foxtrot></app-foxtrot>
  </div>

  <div *ngSwitchDefault="">
    <p>Pick a choice</p>
  </div>
</div>

<!-- <div *ngFor="let i of users">

  <mat-card style="margin: 5px auto; min-width: 250px; background-color: beige;">

    <mat-card-title>{{i.name}}</mat-card-title>
    <mat-card-subtitle>{{i.age}}</mat-card-subtitle>
    <mat-card-content>
      Current status is {{i.status}}.
    </mat-card-content>

  </mat-card>

</div> -->

<!-- <p>{{users[0].name}}</p> -->
