<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="main" aria-label="Advanced options" aria-label="menu context button">
    <mat-icon>menu</mat-icon>
  </button>

  <span>{{ data.title }}</span>

  <span class="header"></span>

  <mat-slide-toggle [(ngModel)]="colorTheme.isdark" (change)="changeTheme()"></mat-slide-toggle>

  <mat-icon fontIcon="{{colorTheme.currentSetting}}"></mat-icon>

  <input id="page_selector" type="text" aria-placeholder="seach on this site" placeholder="search this site"
    [(ngModel)]="data.choice" />


  <button mat-flat-button color="accent" (click)="toScreen()">search</button>

  <!-- <input id="page_selector" matInput type="text" placeholder="page number, #" #choiceGrab [(ngModel)]="data.choice" /> -->


</mat-toolbar>


<!-- top menu -->

<mat-menu #main="matMenu">
  <!-- <button mat-menu-item="" [matMenuTriggerFor]="top">1</button> -->
  <!-- <button mat-menu-item="" [matMenuTriggerFor]="mid">2</button> -->

  <app-head></app-head>

</mat-menu>
