<mat-drawer-container>

  <mat-drawer mode=side opened=true>

    <h4>Chain Ring</h4>
    <form apperance="fill" [formGroup]="gearingSelection">
      <mat-label>Front Gear(s) </mat-label>
      <select matNativeControl [formControl]="chainringSelect">
        <optgroup label="2x">
          <option value="0">Road</option>
          <option value="1">Gravel</option>
        </optgroup>
        <optgroup label="3x">
          <option value="2">MTB</option>
        </optgroup>

        <optgroup label="1x">
          <option value="3">MTB</option>
        </optgroup>

      </select>
    </form>

    <h4>Cassette</h4>
    <form apperance="fill" [formGroup]="gearingSelection">
      <mat-label>Rear Cassette </mat-label>
      <select matNativeControl [formControl]="cassetteSelection">
        <optgroup label="11 Speed">
          <option value="0">{{rearGears[0].name.descript}}</option>
          <option value="1">{{rearGears[1].name.descript}}</option>
          <option value="2">{{rearGears[2].name.descript}}</option>
        </optgroup>
        <optgroup label="10 Speed">
          <option value="3">{{rearGears[3].name.descript}}</option>
          <option value="4">{{rearGears[4].name.descript}}</option>
        </optgroup>
      </select>
    </form>

    <h4>Gear Selection</h4>
    <form apperance="fill" [formGroup]="gearingSelection">
      <mat-label>Gear Selection </mat-label>
      <select matNativeControl [formControl]="FrontGEAR">
        <optgroup label="Front Gear select">
          <option *ngFor="let x of frontGears[frontID()].gears; let i=index" [value]="i">{{i+1 +",
            "+frontGears[frontID()].gears[i]}}
          </option>
        </optgroup>
      </select>

      <select matNativeControl [formControl]="RearGEAR">
        <optgroup label="Rear Gear select">
          <option *ngFor="let x of rearGears[rearID()].gears; let i=index" [value]="i">{{i+1 +",
            "+rearGears[rearID()].gears[i]}}
          </option>
        </optgroup>
      </select>
    </form>


    <h4>Wheel Size && Tyre</h4>
    <form [formGroup]="gearingSelection">

      <mat-label>Wheel Size </mat-label>
      <select matNativeControl [formControl]="wheelSelection">
        <optgroup label="diameter">
          <option *ngFor="let x of wheel; let i=index" [value]="i">{{wheel[i].name}}</option>
        </optgroup>
      </select>

      <h4>Tyre Size</h4>
      Tyre Size
      <mat-form-field appearance="fill">
        <mat-label>(mm) </mat-label>
        <input matInput [formControl]="tyreSelection" type="number">
      </mat-form-field>

    </form>

   <h5>Wheel Circumference</h5>
   <p>{{tyreCircumference()| number:'.2-3'}} Metres</p>

    <!-- <button mat-raised-button="" (click)="doing()">ray</button> -->
    <button mat-raised-button="" (click)="doing2()">Ray</button>

  </mat-drawer>


  <mat-drawer-content>
    <h4>Chainring</h4>

    <p>name: {{frontGears[frontID()].name+ ", "+frontGears[frontID()].build}}</p>
    <p>gears: {{frontGears[frontID()].gears}}</p>
    <p>Current Gear: {{frontGears[frontID()].gears[frontGear()]}}</p>

    <h4>Cassette</h4>

    <p>name: {{rearGears[rearID()].name.speed +", "+rearGears[rearID()].name.descript }}</p>
    <p>gears: {{rearGears[rearID()].gears}}</p>
    <p>Current Gear: {{rearGears[rearID()].gears[rearGear()]}}</p>

    <!-- <section>
      <h4>Front gear to rear gear ratio</h4>
      <div *ngFor="let x of frontGears[frontID()].gears; let i=index">
        <div *ngFor="let y of rearGears[rearID()].gears; let j=index">
          {{spinRatio(i,j)| number:'.1-2'}}
          {{spinRatio(i,j)*tyreCircumference()| number:'.1-2'}}
          {{toTheRay(x)}}
        </div>
        <p></p>
      </div>
    </section> -->


  </mat-drawer-content>

</mat-drawer-container>


<!-- <div>
   <p>{{wheel[wheelpicked()].size}}</p>
   <p>{{tyrepicked()}}</p>
</div> -->



<!-- <div>

      {{gearingSelection.value|json}}
      {{frontGears[frontID()] |json}}
      <p></p>
      {{rearGears[rearID()] |json}}

</div> -->
