<mat-toolbar>
  <button
    class="example-icon"
    [matBadgeHidden]="value <= notes.hiddenValue"
    [matBadge]="value"
    matBadgeColor="primary"
  >
    <mat-icon>home</mat-icon>
  </button>

  <span>{{ data.title }}</span>

  <span class="header"></span>

  <input
    [(ngModel)]="value"
    [disabled]="isdisabled"
    type="text"
    style="text-align: right"
  />

  <button
    mat-icon-button
    [matMenuTriggerFor]="upper"
    class="example-icon"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- submenus -->

<mat-menu #upper="matMenu">
  <button mat-menu-item="" [matMenuTriggerFor]="mid">input change</button>
  <button mat-menu-item="" [matMenuTriggerFor]="noteysAdv">notes</button>
  <button mat-menu-item="" [matMenuTriggerFor]="advanced">hide cards</button>
</mat-menu>

<mat-menu #mid="matMenu" >
  <mat-radio-button value="2" (click)="toggleF()">enable</mat-radio-button>
  <mat-radio-button value="1" style="padding-right: 12px;" (click)="toggleT()">disable</mat-radio-button>
</mat-menu>

<mat-menu #noteysAdv="matMenu">
  <button mat-raised-button color="primary" (click)="incrUp()">
    <mat-icon>arrow_upward</mat-icon>
  </button>

  <button mat-raised-button color="primary" (click)="incrDown()">
    <mat-icon>arrow_downward</mat-icon>
  </button>
</mat-menu>

<mat-menu #advanced="matMenu">
  <mat-slide-toggle [(ngModel)]="appear"></mat-slide-toggle>
</mat-menu>

<!-- END submenus -->

<mat-card class="example-card" id="spinny">
  <label class="example-margin">Progress: {{ value }}</label>

  <mat-slider class="example-margin">
    <input [(ngModel)]="value" matSliderThumb />
  </mat-slider>

  <label class="example-margin">Progress: {{ value }}</label>
  <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value"
  >
  </mat-progress-spinner>
</mat-card>

<mat-card *ngIf="appear" class="example-card">
  <div class="example-flex-container">
    <h2 [ngStyle]="gammaLook">{{ data.title }} is at {{ value }}</h2>
    <div class="example-button-container">{{ sayz2screen() }}</div>
  </div>
</mat-card>
